@charset "UTF-8";

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
	position: relative;
	min-height: 50px;
	border: 1px solid transparent;
	margin-bottom: 0;
	border-radius: 0;
	background: black;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
	height: 1000px;
}

/* Set gray background color and 100% height */
.sidenav {
	padding-top: 20px;
	background-color: #f1f1f1;
	height: 100%;
}

/* Set black background color, white text and some padding */
footer {
	background-color: #555;
	color: white;
	padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
	}
	.row.content {
		height: auto;
	}
	.row.space-right {
		margin-right: auto;
	}
}

.sidenav a {
	font-size: 20px;
	color: #727272;
}

.sidenav>p {
	margin-top: 30px;
	margin-bottom: 30px;
}

.select {
	display: flex;
	align-content: center;
	justify-content: center;
}

.select>div {
	display: flex;
	margin-bottom: 10px;
	width: 100%;
	justify-content: center;
}

.select select {
	margin-bottom: 10px;
	width: 100px;
	align-items: center;
}

.vcenter-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.row.space-right {
	margin-right: 10px;
}

.table-result {
	text-align: center;
	margin: 10px;
}

.table-result th {
	text-align: center;
}

.pagination {
	display: flex;
	justify-content: center;
}